#contact {

    padding: 80px 0px;
    border-bottom: 2px solid $redColor;

    .contact-description {

        @media #{$mediumScreen}, #{$smallScreen}, #{$extraSmallScreen} {
            
            margin-bottom: 20px;
        }

        h4 {

            color: $blueColor;
            span {

                color: $redColor;
            }
        }

        p {

            padding: 15px 0px;
        }

        .contact-icon {

            text-align: center;
            padding: 5px;

            i {

                color: $redColor;
            }

        }

        a {

            text-decoration: none;
            color: $redColor;
            font-weight: 500
        }
    }

    .helpful-links {
        @media #{$mediumScreen}, #{$smallScreen}, #{$extraSmallScreen} {
            
            margin-bottom: 20px;
        }

        h4 {

            color: $blueColor;
            margin-bottom: 15px;
        }

        a {

            text-decoration: none;
            padding: 10px;
            display: block;
            position: relative;
            color: $blueColor;
            font-weight: 500;
            @include prefixer(transition, all .3s ease-in-out, webkit ms moz o);
            &:hover {

                color: $redColor;
            }
        }
    }

    .contact-method {

        h4 {
            
            color: $blueColor;
            margin-bottom: 15px;
        }

        p {

            a {

                text-decoration: none;
                font-weight: 500;
                color: $blueColor;
                @include prefixer(transition, all .3s ease-in-out, webkit moz ms o);
                &:hover {

                    color: $redColor;
                }
            }
        }
    }
}